:root {
  --white-color: #f7f7f7;
  --black-color: #2d2d2d;
  --primary-color: #d62c2e;
  --primary-color-light: #dd5254;
  --primary-color-dark: #b02526;
  --secondary-color: #61852e;
  --secondary-color-light: #c8d5b7;
  --secondary-color-lightest: #dee2da;
  --secondary-color-dark: #497756;
  --tertiary-color: #4281a4;
  --tertiary-color-light: #abcef5;
  --tertiary-color-dark: #2e487c;
  --tertiary-color-darkest: #002060;
  --quaternary-color-lightest: #ccc0da;
  --quaternary-color-light: #8b78cc;
  --quaternary-color: #725ac1;
  --quaternary-color-old: #7541b7;
  --quaternary-color-dark: #53428d;
  --grey-color-lightest: #d2d2d2;
  --grey-color-light: #b2b2b2;
  --grey-color: #9f9f9f;
  --grey-color-dark: #7c7c7c;
  --grey-color-dark-2: #5e5e5e;
  --grey-color-darkest: #333333;
  --form-color: var(--secondary-color-light);
  --background-color: #f7f7f7;
  --text-shadow-color: rgba(50, 50, 50, .4);
  --header-nav-bg-color: linear-gradient(var(--quaternary-color-dark), var(--quaternary-color));
  --header-updateat-bg-color: linear-gradient(var(--grey-color-lightest), var(--grey-color-dark));
  --header-nav-color: var(--white-color);
  --random-pic-bg-color: #e1d9c5;
  --content-bg-color: #f2dcdb;
  --content-border-color: #bfbfbf;
  --date-color: #f4f747;
  --date-shadow: 0 2px 4px #fffc31, 0 0 3px #fffc31, 0 0 3px #fffc31, 
                    0 0 6px #f8e134, 0 0 8px #f8d21a, 0 0 10px #eb9a0d, 
                    10 0 10px #eb9a0d, 0 0 12px #ea9506;
  --counter-bg-color: var(--grey-color);
  --counter-rectangle-bg-color: var(--grey-color-darkest);
  --pagination-color: #717171;
  --pagination-border-color: #505050;
  --pagination-bg-color: #f5f5f5;
  --pagination-bg-color-active: #676767;
  --table-title-color: #7030a0;
  --table-team-color: #9055c1;
  --table-even-color: #b2a1c7;
  --table-odd-color: #ccc0da;
  --table-even-first-color: #a072c4;
  --table-odd-first-color: #b191d0;
  --adherent-color: #afcaff;
  --adherent-color-light: #e3ebfe;
  --adherent-color-dark: #497dbc;
  --licensee-color: #ffacab;
  --licensee-color-light: #ffdddd;
  --licensee-color-dark: #be4b48;
}

/* Contenu principal */

/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */

::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */

html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
  * ========================================================================== */

/**
  * Remove the margin in all browsers (opinionated).
  */

body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */

/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */

hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * Add the correct display in IE.
  */

main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  * ========================================================================== */

/**
  * Remove the gray background on active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */

/*
  * Change the alignment on media elements in all browsers (opinionated).
  */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */

audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */

iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */

img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */

svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */

/**
  * Collapse border spacing in all browsers (opinionated).
  */

table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */

/**
  * Remove the margin on controls in Safari.
  */

button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */

button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */

fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */

input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */

select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */

textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */

/*
  * Add the correct display in Edge 18- and IE.
  */

details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */

/**
  * Add the correct display in IE 9-.
  */

canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */

template {
  display: none;
}

/* User interaction
  * ========================================================================== */

/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */

[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

[aria-busy="true"] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */

[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  background-color: var(--background-color);
}

.container {
  display: grid;
  grid-template-rows: 25rem -webkit-min-content 33rem 20rem 8.1rem minmax(7rem, 1fr) -webkit-min-content;
  grid-template-rows: 25rem min-content 33rem 20rem 8.1rem minmax(7rem, 1fr) min-content;
  grid-template-columns: 1fr [sidebar-left-start] 25rem [sidebar-left-end center-start] repeat(8, [col-start] minmax(8rem, 14rem) [col-end]) [center-end sidebar-right-start] 25rem [sidebar-right-end] 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.main {
  place-self: center;
  display: grid;
  width: 100%;
  grid-column-gap: 2.5rem;
  padding: 2rem;
  max-width: 190rem;
  background-color: #f2dcdb;
}

.heading-1 {
  background: #76559e;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--quaternary-color)), to(var(--quaternary-color-dark)));
  background: linear-gradient(var(--quaternary-color), var(--quaternary-color-dark));
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0.6rem 0.4rem 0px rgba(247, 247, 247, 0.6), 0px 0.6rem 1.2rem 0px var(--text-shadow-color);
          box-shadow: inset 0px 0.6rem 0.4rem 0px rgba(247, 247, 247, 0.6), 0px 0.6rem 1.2rem 0px var(--text-shadow-color);
  color: var(--white-color);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 1rem 6rem;
  text-align: center;
  min-width: 20rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

.heading-1--welcome {
  text-transform: none;
}

.heading-2 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.heading-2--event-title {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}

.heading-3 {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  font-weight: bold;
}

.heading-4 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.smaller-text {
  font-size: 1.2rem;
}

.inexistent {
  text-align: center;
}

.invisible {
  opacity: 0;
}

.grid {
  display: grid;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-25rem, -10rem);
            transform: scale(1) translate(-25rem, -10rem);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-25rem, -10rem);
            transform: scale(0) translate(-25rem, -10rem);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-25rem, -10rem);
            transform: scale(1) translate(-25rem, -10rem);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-25rem, -10rem);
            transform: scale(0) translate(-25rem, -10rem);
  }
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-05 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-05 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-05 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-160 {
  margin-left: 160px;
}

.padding-top-05 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-05 {
  padding-right: 5px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-bottom-05 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 15px;
}

.padding-bottom-25 {
  padding-bottom: 20px;
}

.padding-bottom-30 {
  padding-bottom: 25px;
}

.padding-left-05 {
  padding-left: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-left-30 {
  padding-left: 30px;
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: [logo-start] 20rem [logo-end head-start] 1fr [head-end];
}

.header__logo-img {
  width: 100%;
  height: 100%;
  grid-column: logo-start / logo-end;
}

.header__img {
  grid-column: head-start / head-end;
  background-image: url(/images/header2.jpg?ad41b04496ac5e91d84fdf6b18a42458);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 4rem;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__img-date {
  color: var(--date-color);
  font-size: 2.2rem;
  font-weight: 500;
  text-shadow: var(--date-shadow);
}

.header__updatedat {
  grid-column: logo-start / logo-end;
  background: var(--grey-color);
  background: var(--header-updateat-bg-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header-nav {
  grid-column: head-start / head-end;
  display: block;
}

.header-nav__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style-type: none;
  -webkit-box-shadow: 4px 0px 2px rgba(45, 45, 45, 0.2);
          box-shadow: 4px 0px 2px rgba(45, 45, 45, 0.2);
  height: 100%;
}

.header-nav__item {
  background: #7755a2;
  background: var(--header-nav-bg-color);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-nav__item:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.header-nav__link:link,
.header-nav__link:visited {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.aside-left-bar {
  grid-column: sidebar-left-start / sidebar-left-end;
}

.aside-left-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.aside-left-bar__item {
  display: block;
}

.aside-left-bar__item-dropdown {
  position: relative;
}

.aside-left-bar__link:link,
.aside-left-bar__link:visited,
.aside-left-bar__dropdown-btn {
  color: white;
  display: block;
  font-size: 1.6rem;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
  background: var(--primary-color-dark);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), color-stop(60%, var(--primary-color-dark)));
  background: linear-gradient(var(--primary-color), var(--primary-color-dark) 60%);
  border-radius: .5rem;
  padding: .2rem;
  margin-top: .5rem;
  text-align: center;
  -webkit-box-shadow: 0.4rem 0.4rem 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0.4rem 0.4rem 2px rgba(0, 0, 0, 0.2);
}

.aside-left-bar__container {
  padding: 1rem 1rem 3rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--grey-color-dark)), to(var(--grey-color)));
  background: linear-gradient(var(--grey-color-dark), var(--grey-color));
  border-radius: 2.5rem;
}

.aside-left-bar__container-title {
  font-size: 1.7rem;
  font-style: italic;
  color: var(--white-color);
  text-align: center;
  margin-bottom: .5rem;
}

.aside-left-bar__dropdown {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.aside-left-bar__dropdown-item {
  padding-left: 2rem;
}

.aside-left-bar__dropdown-show {
  visibility: visible;
  opacity: 1;
  height: 10.5rem;
  padding: .2rem;
}

.aside-left-calendar {
  grid-column: sidebar-left-start / sidebar-left-end;
  background: var(--secondary-color-light);
  border-radius: .5rem;
  padding-bottom: .5rem;
  -webkit-box-shadow: 0.4rem 0.4rem 0.2rem var(--content-border-color);
          box-shadow: 0.4rem 0.4rem 0.2rem var(--content-border-color);
}

.aside-left-calendar__title {
  background: var(--secondary-color);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  color: var(--secondary-color-light);
  font-weight: bold;
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.aside-left-counter {
  grid-column: sidebar-left-start / sidebar-left-end;
  font-family: 'Muli', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: var(--white-color);
  border-radius: .5rem;
  background-color: var(--counter-bg-color);
  -webkit-box-shadow: 0.4rem 0.4rem 0.2rem var(--counter-rectangle-bg-color);
          box-shadow: 0.4rem 0.4rem 0.2rem var(--counter-rectangle-bg-color);
}

.aside-left-counter__title {
  font-size: 2.2rem;
  text-align: center;
  padding: 1rem 0 0 0;
}

.aside-left-counter__heading {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-shadow: 0.4rem 0 0.2rem var(--grey-color-darkest);
}

.aside-left-counter__wrapper {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.aside-left-counter__content {
  background-color: var(--grey-color-dark);
  padding: 0.4rem 0;
}

.aside-left-counter__content-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.aside-left-counter__content-title--arrow {
  font-style: normal;
  font-weight: bolder;
}

.aside-left-counter__content-text {
  text-align: center;
  font-size: 1.8rem;
}

.aside-left-fb {
  grid-column: sidebar-left-start / sidebar-left-end;
}

.aside-left-fb__img {
  width: 100%;
}

.aside-left-media_link {
  grid-column: sidebar-left-start / sidebar-left-end;
  display: grid;
  grid-template-columns: repeat(3, 7rem);
  grid-auto-rows: 7rem;
  gap: 2rem;
}

.aside-left-media_link-single__img {
  width: 100%;
}

#calendar {
  background-color: var(--white-color);
  font-size: 10px;
  margin: 1rem;
  border-radius: .5rem;
  padding: .5rem;
}

.fc-toolbar {
  border: 1px solid #e3e3e3;
  border-radius: .5rem;
  background: #f5f5f5;
  padding: .5rem;
}

.fc-event {
  cursor: pointer;
}

.content {
  grid-column: center-start / center-end;
  grid-row: 2 / -2;
  background-color: var(--content-bg-color);
  border: 1px solid var(--content-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__warning {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.content__warning.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.content__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  padding: 1.5rem;
  grid-template-rows: minmax(9rem, -webkit-min-content) 1fr;
  grid-template-rows: minmax(9rem, min-content) 1fr;
  grid-row-gap: 1.5rem;
}

.content__title {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.content__paragraph {
  text-align: center;
}

.content__audio {
  display: none;
}

/* Ads carousel */

.aside-right {
  grid-column: sidebar-right-start / sidebar-right-end;
  grid-row: 2 / -2;
  margin-top: 1rem;
}

.aside-right-tournament {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-right-tournament__next {
  min-height: 36rem;
  margin-bottom: 3rem;
}

.aside-right-tournament__title {
  font-weight: bold;
  margin-bottom: .8rem;
  padding: 1rem;
  text-align: center;
}

.aside-right-tournament__title h2 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--primary-color-dark);
  text-shadow: 1px 1px 1px var(--text-shadow-color);
  text-decoration: none;
}

.aside-right-tournament__content {
  overflow-y: auto;
  max-height: 35rem;
}

.aside-right-tournament__content-link {
  text-decoration: none;
  color: var(--color-black);
}

.aside-right-tournament__content-heading {
  font-size: 1.5rem;
  color: var(--quaternary-color-old);
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0rem;
}

.aside-right-tournament__content-text {
  display: inline-block;
  text-decoration: none;
  color: var(--color-black);
}

.aside-right-tournament__content-single {
  margin-bottom: 1.2rem;
}

.footer {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  background-color: var(--grey-color-darkest);
  padding: 4rem;
}

.footer-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__link:link,
.footer-nav__link:visited {
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer-nav__link:hover,
.footer-nav__link:active {
  background-color: rgba(247, 247, 247, 0.05);
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.footer .copyright {
  font-size: 1.4rem;
  color: var(--white-color);
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

.random-pic {
  background: var(--random-pic-bg-color);
  border: 1px solid var(--content-border-color);
  border-radius: .5rem;
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  margin-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.random-pic__left {
  grid-column: sidebar-left-start / sidebar-left-end;
}

.random-pic__title {
  text-shadow: 0.1rem 0.1rem 0.2rem var(--text-shadow-color);
  font-size: 2.4rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.2rem solid var(--content-border-color);
  text-transform: uppercase;
}

.random-pic__title-right {
  border-bottom: 0.2rem solid var(--content-border-color);
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.random-pic__title-link {
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  margin: auto 0;
}

.random-pic__content {
  margin-top: 1rem;
  min-width: 0;
}

.random-pic__content-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.random-pic__link:visited,
.random-pic__link:link {
  margin: auto 0;
  display: inline-block;
  text-align: center;
}

.random-pic__photoRight {
  display: block;
  max-width: 90%;
  max-height: 200px;
  margin: 10px auto;
}

.random-pic__photoText {
  color: var(--black-color);
  font-weight: bold;
  text-align: center;
  width: 100%;
  line-height: 140%;
}

.random-pic__link-single {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.random-pic__text-single {
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
}

.random-pic__photo {
  max-width: calc(100% - 2rem);
  max-height: 13rem;
}

.random-pic__photo-left {
  max-width: calc(100% - 2rem);
  max-height: 19rem;
}

.random-pic__photo-right {
  display: block;
  max-width: 90%;
  max-height: 20rem;
  margin: 1rem auto;
}

.random-pic__text-right {
  display: block;
  text-align: center;
  line-height: 140%;
  color: #352b6a;
  font-weight: bold;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.paginations ul,
.pagination-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paginations ul li,
.pagination-container ul li {
  color: var(--pagination-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
}

.paginations ul li a,
.paginations ul li span,
.pagination-container ul li a,
.pagination-container ul li span {
  color: currentColor;
  background-color: var(--pagination-bg-color);
  padding: 5px 10px;
  border: 1px solid var(--pagination-border-color);
}

.paginations ul li a,
.pagination-container ul li a {
  text-decoration: none;
}

.paginations ul li.active a,
.paginations ul li.active span,
.pagination-container ul li.active a,
.pagination-container ul li.active span {
  color: var(--white-color);
  background-color: var(--pagination-bg-color-active);
}

.paginations ul li:first-child a,
.paginations ul li:first-child span,
.pagination-container ul li:first-child a,
.pagination-container ul li:first-child span {
  border-radius: .5rem 0 0 .5rem;
}

.paginations ul li:last-child a,
.paginations ul li:last-child span,
.pagination-container ul li:last-child a,
.pagination-container ul li:last-child span {
  border-radius: 0 .5rem .5rem 0;
  border-right: 1px solid var(--pagination-border-color);
}

.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.tabs__link {
  background: none;
  color: var(--black-color);
  display: inline-block;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.tabs__link-current {
  background-color: var(--grey-color-lightest);
  color: var(--black-color);
}

.tabs__content {
  display: none;
  background-color: var(--grey-color-lightest);
  padding: 1.5rem;
  width: 100%;
}

.tabs__content-current {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__content-current--ranking,
.tabs__content-current--ligue {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.form__content {
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  background: var(--random-pic-bg-color);
  border: 1px solid var(--content-border-color);
  padding: 1.5rem;
}

.form__by-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.form__email-top,
.form__email-bottom {
  grid-column: 1 / span 2;
}

.form__special-p {
  font-weight: bold;
  color: var(--secondary-color);
}

.form__input {
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--form-color);
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.form__input-tel {
  width: 50%;
}

.form__textarea {
  font-size: 1.6rem;
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--form-color);
}

.form__message-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__button {
  background: #dce3d6;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(#cdd9c6));
  background: linear-gradient(var(--white-color), #cdd9c6);
  margin: 1rem 2rem 1rem 0;
  padding: .5rem 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  border-radius: .5rem;
  border: 1px solid var(--form-color);
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: end;
}

.form__by-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__address {
  margin-left: 0.5rem;
}

.form__paragraph {
  display: inline-block;
}

.table {
  border-collapse: collapse;
  border: 1px solid var(--black-color);
  width: 100%;
  -ms-flex-item-align: start;
      align-self: start;
  justify-self: center;
}

.table__th,
.table__td {
  border: 1px solid var(--black-color);
  padding: .5rem;
}

.table__th {
  background: var(--table-title-color);
  color: var(--white-color);
  text-align: center;
}

.table__td--membertournament {
  padding: .5rem;
}

.table .table__tr:nth-child(even) {
  background: var(--table-even-color);
}

.table .table__tr:nth-child(odd) {
  background: var(--table-odd-color);
}

.table .table__tr:nth-child(even) .table__td:first-child {
  background: var(--table-even-first-color);
}

.table .table__tr:nth-child(odd) .table__td:first-child {
  background: var(--table-odd-first-color);
}

.table__width-5 {
  width: 5%;
}

.table__width-10 {
  width: 10%;
}

.table__width-15 {
  width: 15%;
}

.table__width-20 {
  width: 20%;
}

.table__width-25 {
  width: 25%;
}

.table__width-30 {
  width: 30%;
}

.table__width-35 {
  width: 35%;
}

.table__width-40 {
  width: 40%;
}

.table__link {
  display: block;
  text-decoration: none;
  color: currentColor;
}

.table__tooltip {
  position: relative;
}

.table__tooltip-content {
  visibility: hidden;
  background: var(--white-color);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--adherent-color)));
  background: linear-gradient(var(--white-color), var(--adherent-color));
  border: 1px solid var(--tertiary-color);
  color: #000;
  padding: 1.5rem;
  border-radius: .6rem;
  top: -21rem;
  left: 105%;
  position: absolute;
  z-index: 1;
}

.table__tooltip:hover .table__tooltip-content {
  visibility: visible;
}

.table__tooltip-content::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--tertiary-color) transparent transparent;
}

.table__tooltip-img {
  width: 60rem;
  height: 40rem;
}

.table__past-tournament {
  background-color: var(--table-odd-color);
}

.table__future-tournament {
  background-color: var(--table-even-color);
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 50rem;
  /* Full width (cover the whole page) */
  height: 20rem;
  /* Full height (cover the whole page) */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25rem, -10rem);
          transform: translate(-25rem, -10rem);
  background-color: #ddedfbcc;
  /* Black background with opacity */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #ddedfbcc;
          box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem #ddedfbcc;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  -webkit-animation: fadeout 1s forwards, height 0 forwards, width 0 forwards;
          animation: fadeout 1s forwards, height 0 forwards, width 0 forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#overlay__text {
  color: #3680c5;
  font-size: bold 2rem;
  font-size: 2.8rem;
  font-weight: bold;
  font-style: italic;
}

.welcome-carousel {
  margin: 0 5rem;
  min-width: 0;
}

.welcome-carousel__img {
  max-height: 100%;
  max-width: 95%;
  width: 95%;
  margin: 0 auto;
}

.welcome-carousel__img img {
  display: block;
  width: 100%;
}

.event {
  display: grid;
  grid-template-rows: 1fr 10rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 3rem;
}

.event__league {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event__occasion,
.event__podiums {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event__rank-display {
  margin-left: 1rem;
  margin-right: 1rem;
}

.event__table {
  display: grid;
  grid-template-columns: minmax(20rem, 3fr) minmax(12rem, 2fr) repeat(5, 1fr);
}

.event__table-future > div:nth-of-type(-n+2) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-tournament > div:nth-of-type(-n+7) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-occasion > div:nth-of-type(-n+3) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-league > div:nth-of-type(-n+4) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-ranking > div:nth-of-type(-n+2) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-podiums > div:nth-of-type(-n+2) {
  border-top: 2px solid var(--grey-color-light);
}

.event__table-future {
  width: 55rem;
  grid-template-columns: 3fr 2fr;
  margin: 0 auto;
}

.event__table-league {
  grid-template-columns: minmax(20rem, 3fr) repeat(2, minmax(12rem, 2fr)) minmax(10rem, 15rem);
}

.event__table-occasion {
  width: 55rem;
  grid-template-columns: minmax(20rem, 2fr) repeat(2, minmax(12rem, 1fr));
}

.event__table-ranking {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 5rem;
  grid-template-columns: minmax(15rem, 25rem) 1fr;
}

.event__table-podiums {
  width: 45rem;
  grid-template-columns: minmax(20rem, 2fr) minmax(10rem, 1fr);
}

.event__single-information {
  color: #fff;
  background-color: var(--table-title-color);
  border-right: 2px solid var(--grey-color-light);
  border-bottom: 2px solid var(--grey-color-light);
  border-left: 2px solid var(--grey-color-light);
  padding: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.event__single-information__wrapper {
  width: 100%;
}

.event__single-information:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.event__additional-information {
  background-color: var(--table-odd-color);
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.event__ranking-container {
  margin: 0;
  padding: 0;
}

.event__ranking-table {
  margin: 0;
  border-collapse: collapse;
  border-style: hidden;
  background-color: var(--table-odd-color);
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--grey-color-light);
  border-bottom: 2px solid var(--grey-color-light);
}

.event__ranking-table td:first-child,
.event__ranking-table th:first-child {
  border-right: 2px solid var(--grey-color-light);
}

.event__ranking-table tbody tr:nth-child(2) td {
  padding-top: 0.8rem;
}

.event__ranking-table tbody tr:last-child td {
  padding-bottom: 1.2rem;
}

.event__ranking-table-title {
  background-color: var(--table-team-color);
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  text-align: center;
  color: var(--white-color);
  font-size: 1.4rem;
}

.event__ranking-table-title-left {
  width: 20rem;
}

.event__ranking-table-title-right {
  width: 100%;
}

.event__ranking-table-content {
  padding-left: 1rem;
  vertical-align: top;
}

.event__ranking-table-solo {
  text-align: center;
}

.event__single-link {
  text-decoration: none;
  color: currentColor;
}

.event__single-paragraphe {
  color: currentColor;
  margin-bottom: .5rem;
  text-align: center;
}

.event__single-members {
  background-color: var(--table-odd-color);
  border-right: 2px solid var(--grey-color-light);
  border-bottom: 2px solid var(--grey-color-light);
  padding-bottom: 1rem;
}

.event__single-members-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.event__members-league {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.event__league-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event__noteam {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.event__noteam-rank {
  margin-top: 0.6rem;
}

.event__noteam-paragraph {
  text-align: center;
}

.event__ranking-paragraph {
  display: inline;
}

.event__team-title {
  background-color: var(--table-team-color);
  margin-bottom: 0.8rem;
  padding: 0.4rem;
}

.event__team-ranking-title {
  margin-bottom: 0.8rem;
  padding: 0.4rem;
}

.event__team-text {
  color: var(--white-color);
  font-size: 1.4rem;
  text-align: center;
}

.event__team-content {
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}

.event__team-content-js {
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}

.event__team-content-js-solo {
  margin-top: 0.6rem;
}

.event__team-paragraph {
  margin-bottom: .2rem;
  text-align: center;
}

.event__single-image {
  border-right: 2px solid var(--grey-color-light);
  border-bottom: 2px solid var(--grey-color-light);
  background-color: #ffffff;
  -webkit-filter: brightness(98%);
          filter: brightness(98%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.event__single-image:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.event__single-image--disable {
  border-right: 2px solid var(--grey-color-light);
  border-bottom: 2px solid var(--grey-color-light);
}

.event__top-border:nth-of-type(-n+5) {
  border-top: 2px solid var(--grey-color-light);
}

.event__single-link {
  width: 100%;
  height: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.event__cell--disable {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(80%) grayscale(100%);
          filter: brightness(80%) grayscale(100%);
}

.event__bottom {
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: center;
}

.event__noteam-line,
.event__team-line {
  text-align: center;
}

.event__tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.event__tooltip-event {
  visibility: hidden;
  padding: 1.5rem;
  border-radius: 0.6rem;
  top: -115px;
  left: 115%;
  /* Position the tooltip text  */
  position: absolute;
  z-index: 2;
  width: 48rem;
  height: 24rem;
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 16rem) 1fr;
  grid-template-columns: minmax(min-content, 16rem) 1fr;
}

.event__tooltip-event-licensee {
  background: var(--licensee-color-light);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--licensee-color-light)), to(var(--licensee-color)));
  background: linear-gradient(var(--licensee-color-light), var(--licensee-color));
  border: 1px solid var(--licensee-color-dark);
  color: var(--licensee-color-dark);
}

.event__tooltip-event-adherent {
  background: var(--adherent-color-light);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--adherent-color-light)), to(var(--adherent-color)));
  background: linear-gradient(var(--adherent-color-light), var(--adherent-color));
  border: 1px solid var(--adherent-color-dark);
  color: var(--adherent-color-dark);
}

.event__tooltip-event-ranking {
  left: 115%;
}

.event__tooltip:hover .event__tooltip-event {
  visibility: visible;
}

.event__tooltip:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--grey-color) transparent transparent;
  z-index: 2;
}

.event__tooltip-licensee:hover::after {
  border-color: transparent var(--licensee-color-dark) transparent transparent;
}

.event__tooltip-adherent:hover::after {
  border-color: transparent var(--adherent-color-dark) transparent transparent;
}

.event__tooltip-ranking {
  display: inline-block;
}

.event__tooltip-ranking:hover::after {
  right: -15%;
}

.event__tooltip-img {
  margin-right: 1rem;
  height: 100%;
  max-height: 21rem;
  max-width: 18rem;
}

.event__tooltip__tooltiptext {
  color: currentColor;
}

.otherClub {
  color: #953735;
}

.photos__main-heading {
  display: grid;
  justify-items: center;
}

.photos__heading {
  border: 2px solid var(--grey-color-light);
}

.photos__heading-title {
  background: var(--table-title-color);
  color: var(--white-color);
  padding: 1rem 3rem;
  text-align: center;
}

.photos__heading-place {
  background: var(--table-odd-first-color);
  font-style: italic;
  text-align: center;
  padding: 1rem 1rem;
}

.photos__content {
  background-color: var(--white-color);
  padding: 1.5rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-auto-rows: 18rem;
  grid-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.photos__link {
  display: block;
  width: 100%;
  height: 100%;
}

.photos__pictures {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.videos__wrapper {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.videos__main-heading {
  display: grid;
  justify-items: center;
}

.videos__heading {
  width: 60%;
  min-width: 40rem;
  border: 2px solid var(--grey-color-light);
}

.videos__heading-title {
  background: var(--table-title-color);
  color: var(--white-color);
  padding: 0 15px;
  text-align: center;
}

.videos__heading-place {
  background: var(--table-odd-first-color);
  font-style: italic;
  text-align: center;
}

.videos__content {
  background: var(--white-color);
  padding: 2rem 2rem 3rem 2rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(40rem, 1fr));
  grid-auto-rows: 32rem;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.videos__content-solo {
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.videos__video {
  max-height: 100%;
  max-width: 100%;
}

.introduction {
  text-align: justify;
  margin: 0 3rem;
}

.introduction p {
  margin-bottom: 1.4rem;
}

.office {
  text-align: center;
  margin: 0 3rem 0 3rem;
}

.office__picture {
  width: 100%;
}

.partners {
  display: grid;
  grid-template-rows: auto 10rem;
  margin: 0 6rem;
  padding-bottom: 2rem;
}

.partners__wrapper {
  margin: 0 10rem;
}

.partners__how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__how-picture {
  width: 15rem;
}

.partners__smallheading {
  font-weight: 600;
  font-size: 1.6em;
}

.partners__content {
  width: 100%;
  border-top: 0.2rem solid var(--white-color);
  border-right: 0.2rem solid var(--white-color);
  display: grid;
  grid-template-columns: 16rem auto;
  grid-auto-rows: minmax(15rem, auto);
  margin-top: 5rem;
}

.partners__logo {
  background-color: var(--grey-color);
  border-bottom: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__logo-img {
  max-width: 100%;
}

.partners__informations {
  background: var(--tertiary-color-light);
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__paragraph {
  margin: 0;
}

.partners__bottom {
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: center;
}

.members {
  padding: 2rem 5rem;
}

.members__content {
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: 17rem;
  grid-gap: 1.5rem;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 12px solid transparent;
  -o-border-image: url(/images/border.jpg?c46fe8495057a5e182443115c6312ec5) 12 repeat;
     border-image: url(/images/border.jpg?c46fe8495057a5e182443115c6312ec5) 12 repeat;
}

.members__name {
  text-align: center;
  height: 4.2rem;
  margin: 0;
}

.members__licensee {
  color: var(--licensee-color-dark);
}

.members__adherent {
  color: var(--adherent-color-dark);
}

.members__tooltip {
  position: relative;
  cursor: pointer;
}

.members__tooltip-wrapper {
  visibility: hidden;
  padding: 1.5rem;
  border-radius: .6rem;
  top: -45px;
  left: 105%;
  position: absolute;
  z-index: 1;
  width: 40rem;
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 16rem) 1fr;
  grid-template-columns: minmax(min-content, 16rem) 1fr;
}

.members__tooltip:hover .members__tooltip-wrapper {
  visibility: visible;
}

.members__tooltip-adherent {
  background: var(--adherent-color-light);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--adherent-color-light)), to(var(--adherent-color)));
  background: linear-gradient(var(--adherent-color-light), var(--adherent-color));
  border: 1px solid var(--adherent-color-dark);
  color: var(--adherent-color-dark);
}

.members__tooltip-licensee {
  background: var(--licensee-color-light);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--licensee-color-light)), to(var(--licensee-color)));
  background: linear-gradient(var(--licensee-color-light), var(--licensee-color));
  border: 1px solid var(--licensee-color-dark);
  color: var(--licensee-color-dark);
}

.members__tooltip-content {
  margin-left: 1rem;
}

.members__tooltip:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--grey-color) transparent transparent;
}

.members__tooltip-l:hover::after {
  border-color: transparent var(--licensee-color-dark) transparent transparent;
  z-index: 2;
}

.members__tooltip-a:hover::after {
  border-color: transparent var(--adherent-color-dark) transparent transparent;
  z-index: 2;
}

.members__tooltip-img {
  margin-right: 1rem;
  max-height: 21.5rem;
  max-width: 18rem;
}

.members__tooltip__tooltiptext {
  color: currentColor;
}

.members__thumbnail {
  height: 14.4rem;
  max-width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.addresses {
  padding: 2rem 5rem;
}

.addresses h2 {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 1.4rem;
}

.addresses p {
  margin-bottom: 1.4rem;
}

.contact {
  padding: 0 5rem;
}

.news {
  padding: 1rem 5rem;
}

.news__content {
  background-color: var(--white-color);
  padding: 1rem;
  max-height: 300rem;
  overflow-y: scroll;
}

.news__single {
  border-top: 2px solid var(--secondary-color-dark);
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.news__read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 8rem 0 .5rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--white-color)));
  background-image: linear-gradient(to bottom, transparent, var(--white-color));
}

.news__img {
  width: 2.5rem;
  vertical-align: middle;
}

.news__button {
  border-top: 1px solid var(--tertiary-color-light);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--tertiary-color-dark)), to(var(--tertiary-color)));
  background: linear-gradient(to bottom, var(--tertiary-color-dark), var(--tertiary-color));
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  vertical-align: middle;
  border-radius: .8rem;
  margin-left: .5rem;
  margin-right: .5rem;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px var(--black-color);
          box-shadow: 0 1px 2px var(--black-color);
}

.news__title {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.news__paragraph {
  text-align: justify;
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.news__content-link {
  margin-top: 1rem;
  height: 3rem;
  margin-left: 2rem;
}

.average-listing {
  padding: 0 2rem;
  display: grid;
  grid-template-rows: 1fr 10rem;
  grid-gap: 1.5rem;
}

.average-listing__bottom {
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: center;
}

.documents {
  margin-top: 5rem;
  padding: 0 8rem;
}

.documents__content {
  border: solid 1px var(--black-color);
  display: grid;
}

.documents__type {
  background-color: var(--table-title-color);
  border: solid 1px var(--quaternary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: .5rem .5rem .5rem 1rem;
  letter-spacing: 1px;
}

.documents__link {
  background-color: var(--quaternary-color-lightest);
  border-top: solid 1px var(--white-color);
  padding: .2rem 1.5rem .2rem 1rem;
  color: #000;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.documents__link:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.documents__single-name {
  color: currentColor;
}

.documents__single-type {
  color: currentColor;
  text-transform: uppercase;
}

.become-partner {
  margin: 2rem 5rem;
}

.listing {
  padding: 2rem 5rem;
}

.listing__main-heading {
  display: grid;
  justify-items: center;
}

.listing__heading {
  border: 2px solid var(--grey-color-light);
  max-width: 60%;
}

.listing__heading-title {
  background: var(--table-title-color);
  color: var(--white-color);
  padding: 0 3rem;
  text-align: center;
}

.listing__heading-place {
  background: var(--table-odd-first-color);
  font-style: italic;
  text-align: center;
}

.listing__img {
  width: 100%;
}

.report {
  padding: 4rem 6rem;
}

.report p {
  margin-bottom: 1.4rem;
}

.archives {
  padding: 2rem 4rem;
}

.archives__content {
  padding: 1rem;
  min-height: 100%;
  width: 100%;
}

.archives__tables {
  width: 100%;
}

.archives__tables:first-child {
  border-top: 2px solid var(--grey-color-light);
}

.archives__row {
  display: grid;
  grid-template-columns: minmax(20rem, 3fr) minmax(12rem, 2fr) repeat(5, 1fr);
}

.archives__row-league {
  width: 100%;
  grid-template-columns: minmax(20rem, 3fr) repeat(2, minmax(12rem, 2fr)) minmax(10rem, 15rem);
}

.archives__row-ranking {
  width: 100%;
  grid-template-columns: minmax(10rem, 2fr) minmax(15rem, 3fr) minmax(15rem, 3fr);
}

.archives .archives__pagination_hide {
  display: none;
}

.loader {
  border: 16px solid var(--white-color);
  border-radius: 50%;
  border-top: 16px solid var(--grey-color-dark-2);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.map {
  padding: 2rem 5rem;
  text-align: center;
}

.member-tournaments {
  padding: 0 2rem;
  display: grid;
  grid-template-rows: 1fr 10rem;
  grid-gap: 1.5rem;
}

.error__title {
  font-family: 'Pacifico', serif;
  font-size: 20rem;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.2;
}

.error__content {
  text-align: center;
}

.error__description {
  font-size: 5rem;
}

.error__reason {
  font-size: 2rem;
  font-style: italic;
  color: #929292;
}

