* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;        
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $font-size-base;
    min-height: 880px;
    min-width: 1280px;
    background-color: $primary-background-color;
}

h1 {
    font-weight: 300;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
}

a {
    color: black;
}

input[type=text], input[type=email], input[type=password] {
    border: 1px solid #dddddd;
    font-size: $font-size-large;
    margin-bottom: 1.4rem;
    padding: 1.2rem;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.smaller-text {
    font-size: 1.2rem;
}