.padding-top-05 { padding-top: 0.5em; }
.padding-top-10 { padding-top: 1.0em; }
.padding-top-15 { padding-top: 1.5em; }
.padding-top-20 { padding-top: 2.0em; }
.padding-top-25 { padding-top: 2.5em; }
.padding-top-30 { padding-top: 3.0em; }

.padding-right-05 { padding-right: 0.5em; }
.padding-right-10 { padding-right: 1.0em; }
.padding-right-15 { padding-right: 1.5em; }
.padding-right-20 { padding-right: 2.0em; }
.padding-right-25 { padding-right: 2.5em; }
.padding-right-30 { padding-right: 3.0em; }

.padding-bottom-05 { padding-bottom: 0.5em; }
.padding-bottom-10 { padding-bottom: 1.0em; }
.padding-bottom-15 { padding-bottom: 1.5em; }
.padding-bottom-20 { padding-bottom: 2.0em; }
.padding-bottom-25 { padding-bottom: 2.5em; }
.padding-bottom-30 { padding-bottom: 3.0em; }

.padding-left-05 { padding-left: 0.5em; }
.padding-left-10 { padding-left: 1.0em; }
.padding-left-15 { padding-left: 1.5em; }
.padding-left-20 { padding-left: 2.0em; }
.padding-left-25 { padding-left: 2.5em; }
.padding-left-30 { padding-left: 3.0em; }