.main-content-averagelisting {
    width: 100%;
    height: calc(100% - 30px);
    position: relative;
}

.table-averagelisting {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

.table-averagelisting th, .table-averagelisting td {
    border: 1px solid black;
    padding: 5px;
}

.table-averagelisting th {
    background: #7030a0;
    color: white;
    text-align: center;
}

.table-averagelisting tr:nth-child(even) {
    background: $table-even-color;
}

.table-averagelisting tr:nth-child(odd) {
    background: $table-odd-color;
}

.td-witdth5 {
    width: 5%;
}

.td-witdth10 {
    width: 10%;
}

.td-witdth15 {
    width: 15%;
}

/* Tooltip container */
.tooltip-averagelisting {
    position: relative;
}

/* Tooltip text */
.tooltip-averagelisting .tooltiptext {
    visibility: hidden;
    background: #e3ebfe; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e3ebfe, #afcaff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3ebfe, #afcaff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3ebfe, #afcaff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3ebfe, #afcaff); /* Standard syntax */
    border: 1px solid #497dbc;
    color: #000;
    padding: 15px;
    border-radius: 6px;
    top: -150px;
    left: 105%; 
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-averagelisting:hover .tooltiptext {
    visibility: visible;
}

.tooltip-averagelisting .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #497dbc transparent transparent;
}

.tooltip-averagelisting .tooltiptext img {
    margin-right: 10px;
    height: 300px;
}