.error-title {
    font-family: 'Pacifico', serif;
    font-size: 20rem;
    text-align: center;
}

.error-content {
    text-align: center;
}

.error-description {
    font-size: 5rem;
}

.error-reason {
    font-size: 2rem;
    font-style: italic;
    color: #929292;
}