.main-generalconditions-title h1{
    color: #4F6228;
    font-weight: normal;
}

.generalconditions-sections h2{
    color: #974706;
    font-weight: normal;
    margin-bottom: 0;
}

.generalconditions-sections p{
    text-align: justify;
}
