.members {
    width: 100%;
    height: 100%;
    position: relative;
}

.content-members {
    width: 680px;
    margin: 10px auto;
    border: 12px solid transparent;
    border-image: url(./images/border.jpg) 12 repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white; 
}

.row-members {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display:none;
}

.member-thumbnail {
    height: 120px;
    width: 100px;
    box-sizing: border-box;
}

.full-size-img {
    height: 215px;
    width: 180px;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

.member-size {
    margin: 5px;
    max-height: 150px;
    width: 100px;
    display: inline-block;
}

.member-name {
    text-align: center;
}

.member-adherent-color {
    color: #5366d4;
}

.member-licensee-color {
    color: #ce3e3d;
}


/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 15px;
    border-radius: 6px;
    top: -45px;
    left: 105%; 
    

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltipcontent {
    margin-top: 20px;
    text-align: right;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltipcontent p {
    margin-bottom: 5px;
    text-shadow: #000000 1px 1px !important;
}

.member-information {
    width: 400px;
    top: -25px;
}

.adherent {
    background: #e3ebfe; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e3ebfe, #afcaff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3ebfe, #afcaff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3ebfe, #afcaff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3ebfe, #afcaff); /* Standard syntax */
    border: 1px solid #497dbc;
    color: #558ed5;
}

.licensee {
    background: #ffcbca; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffdddd, #ffacab); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffdddd, #ffacab); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffdddd, #ffacab); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffdddd, #ffacab); /* Standard syntax */
    border: 1px solid #be4b48;
    color: #c66720;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #497dbc transparent transparent;
}

.tooltip .tooltiptext img {
    margin-right: 10px;
}