.partners {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-content-partners{
    width: 80%;
    margin: 25px auto 0 auto;
}

.table-associate {
    border-collapse: collapse;
    width: 100%;
}

table.table-associate, th, td {
    border: 2px solid #c2c2c2;
}

.logo-associate {
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}

.cell-logo {
    background: #a5a5a5;
    padding: 20px;
    height: 80px;
    width: 80px;
    display: flex;
}

.text-associate {
    background: #cc99ff;
    text-align:  center;
    padding: 20px;
    font-size: 2rem;
}

.text-associate-link {
    background: #cc99ff;
    text-align:  center;
    padding: 20px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.text-associate a {
    color: #0000FF;
}

.page {
    margin-top: 20px;
    text-align: center;
}

