.show-photos-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.show-photos-content > .main-content-title {
    height: 110px;
    width: 100%;
}

.main-content-photos {
    min-height: 400px;
    flex:1;
}

.photos-wrapper {
    background: white;
    padding: 5px 5px 10px 5px;
    margin: 30px auto;
    width: 660px;
}

.photos {
    margin: 0 auto;
    width: 650px;
}

.tournament-picture {
    margin-top : 5px;
    margin-left: 5px;
    width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.diaporama-img {
    width: 70px;
    position: absolute;
    top: 10px;
    right: 60px;
}

.photos-title {
    background: #7030a0;
    color: white;
    padding: 0 15px;
}

.photos-place {
    background: #cc99ff;
    font-style: italic;
}

.photos-information {
    width: 60%;
    border: 2px solid #bfbfbf;
    margin: 0 auto;
}

.top-pictures {
    height: 80px;
    width: 100%;
    position: relative;
}

.top-pictures .links {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-div {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-div .links {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}


/*@media screen and (min-width: 1480px) { 
    .photos {width: 660px;}
}

@media screen and (min-width: 1680px) { 
    .photos {width: 770px;}
}

@media screen and (min-width: 1880px) { 
    .photos {width: 880px;}
}

@media screen and (min-width: 2280px) { 
    .photos {width: 990px;}
}*/