.header-nav {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}

.nagivation {
    display: flex;
    flex: 16;
    list-style-type: none;
    box-shadow: 4px 0px 2px rgba(0, 0, 0, 0.2); 
}

.nagivation li {
    background: #7755a2;
    background: -webkit-linear-gradient(#7b58a7, #5f4480); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7b58a7, #5f4480); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7b58a7, #5f4480); /* For Firefox 3.6 to 15 */
    background: $header-nav-bg-color; /* Standard syntax */
    border-left:  1px solid #66488a;
    border-left:  1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid #7d60a0;
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    flex: 1;
    flex-direction: column;
    float: left;
    justify-content: center;
    text-align: center;
    transition: all 1s ease;
}

.nagivation li:hover {
    filter: brightness(120%);
}

.nagivation li a {
    color: $header-nav-color;
    text-decoration: none;
    font-size: 1.7rem;
}

.updatedAt {
    background: #d4d4d4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f3f3f3, #b6b6b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f3f3f3, #b6b6b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f3f3f3, #b6b6b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f3f3f3, #b6b6b6); /* Standard syntax */
    box-sizing: border-box;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .updatedAt {
        flex:3;
    }
}