.header{
    flex: 8;
    display: flex;
    flex-basis: 200px;
}

.header-img {
    background-image: url($header-img-url);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 16;
}

.logo {
    background-color: white;
    flex: 2;
    text-align: center;
}

.logo a{
    display: flex;
    height: 100%;
    width: 100%;
}

.logo-img {
    margin: auto;
    max-width: 200px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .logo {
        flex: 3;
    }
}