.content {
    background-color: $primary-color;
    border: 1px solid $content-border-color;
    width: 60%;
}

.warning {
    background: #c00000;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    text-align: center;
}

.warning-height-change {
    height: calc(100% - 60px) !important;
}

.warning-carousel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.warning-carousel.slick-initialized {
    visibility: visible ;
    opacity: 1;    
}

.main-section{
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.main-content-title{
    margin: 10px 0 15px 0;
    text-align: center;
}

.main-content-title h1{
    background: #76559e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9a67db, #76559e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9a67db, #76559e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9a67db, #76559e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9a67db, #76559e); /* Standard syntax */
    border-radius: 10px;
    box-shadow: inset 0px 6px 5px 0px rgba(255,255,255,0.6), 0px 6px 12px 0px rgba(0,0,0,0.6);
    color: white;
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px 60px;
    text-align: center;
    min-width: 200px;
}

.content-bcozoir {
    text-align: justify;
    margin-top: 20px;
}

.main-content-address {
    margin-top: 20px;
}

/* Ads carousel */ 
.ads-carousel {
    margin: 20px auto;
    width: 90%;
}

.carousel-img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-img img {
    display: block;
    margin: auto;
    width: 100%;
}