$dark-color : #974706;      //only footer - 974706
$primary-color : #e6b8b7; 
$light-color : #f2dcdb; 

$white-color: #f7f7f7;
$black-color: #2d2d2d;

:root {
    --white-color:  #f7f7f7;
    --black-color: #2d2d2d;

    --primary-color : #d62c2e;
    --primary-color-light : #dd5254;
    --primary-color-dark : #b02526;

    --secondary-color : #61852e;
    --secondary-color-light : #c8d5b7;
    --secondary-color-lightest : #dee2da;
    --secondary-color-dark : #497756;

    --tertiary-color : #4281a4; // 48acf0 // 4464ad
    --tertiary-color-light : #abcef5; // 6680bb
    --tertiary-color-dark : #2e487c; // 3b8dc5 // 38528e
    --tertiary-color-darkest : #002060; 

    --quaternary-color-lightest: #ccc0da;
    --quaternary-color-light : #8b78cc;
    --quaternary-color : #725ac1;
    --quaternary-color-old : #7541b7;
    --quaternary-color-dark : #53428d;

    --grey-color-lightest: #d2d2d2;
    --grey-color-light: #b2b2b2;
    --grey-color: #9f9f9f;
    --grey-color-dark: #7c7c7c;
    --grey-color-dark-2: #5e5e5e;
    --grey-color-darkest: #333333;

    --form-color: var(--secondary-color-light); 

    --background-color: #f7f7f7;

    --text-shadow-color: rgba(50, 50, 50, .4); 

    --header-nav-bg-color: linear-gradient(var(--quaternary-color-dark), var(--quaternary-color));
    --header-updateat-bg-color: linear-gradient(var(--grey-color-lightest), var(--grey-color-dark));
    --header-nav-color: var(--white-color);

    --random-pic-bg-color: #e1d9c5;

    --content-bg-color: #f2dcdb;
    --content-border-color : #bfbfbf;

    --date-color : #f4f747;
    --date-shadow : 0 2px 4px #fffc31, 0 0 3px #fffc31, 0 0 3px #fffc31, 
                    0 0 6px #f8e134, 0 0 8px #f8d21a, 0 0 10px #eb9a0d, 
                    10 0 10px #eb9a0d, 0 0 12px #ea9506;

    --counter-bg-color: var(--grey-color);
    --counter-rectangle-bg-color: var(--grey-color-darkest);

    --pagination-color: #717171;
    --pagination-border-color: #505050; // #3D315B
    --pagination-bg-color: #f5f5f5; // #444B6E
    --pagination-bg-color-active: #676767; // #9AB87A

    --table-title-color: #7030a0;
    --table-team-color: #9055c1;
    --table-even-color: #b2a1c7;
    --table-odd-color: #ccc0da;
    --table-even-first-color: #a072c4;
    --table-odd-first-color: #b191d0;

    --adherent-color: #afcaff;
    --adherent-color-light: #e3ebfe;
    --adherent-color-dark: #497dbc;
    --licensee-color: #ffacab;
    --licensee-color-light: #ffdddd;
    --licensee-color-dark: #be4b48;
}



// /* Entête navigation */
$header-nav-bg-color: linear-gradient(#7b58a7, #5f4480); 
$header-nav-color: white;

/* Contenu principal */
$primary-background-color : $light-color;
$content-border-color : #bfbfbf;

// /* Navigation à gauche */
$leftNavigation-btn-bg-color : linear-gradient(#cc3d38, #a2312e); 
$leftNavigation-btn-color : white;

$font-size-base : 1.4rem;
$font-size-large : 1.6rem;


$header-img-url : './images/header2.jpg';