.paginations,
.pagination-container {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          color: var(--pagination-color);
          display: flex;
          margin-left: 0.5rem;

          a,
          span {
            color: currentColor;
            background-color: var(--pagination-bg-color);
            padding: 5px 10px;
            border: 1px solid var(--pagination-border-color);
          }

          a {
              text-decoration: none;
          }
        }
        li.active a,
        li.active span {
          color: var(--white-color);
          background-color: var(--pagination-bg-color-active);
        }

        li:first-child a,
        li:first-child span {
          border-radius: .5rem 0 0 .5rem;
        }

        li:last-child a,
        li:last-child span {
          border-radius: 0 .5rem .5rem 0;
          border-right: 1px solid var(--pagination-border-color);
        }
      }
}

