.random-pic {
    background: var(--random-pic-bg-color);
    border: 1px solid var(--content-border-color);
    border-radius: .5rem;
    display: grid;
    grid-template-rows: 4.5rem 1fr;
    margin-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    &__left {
        grid-column: sidebar-left-start / sidebar-left-end;
    }

    &__title {
        text-shadow: .1rem .1rem .2rem var(--text-shadow-color);
        font-size: 2.4rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: .2rem solid var(--content-border-color);
        text-transform: uppercase;

        &-right {
            border-bottom: .2rem solid var(--content-border-color);
            color: var(--secondary-color); 
            font-size: 1.8rem;
            font-weight: bold;
            justify-content: start;
            padding: 1rem 2rem;
            text-transform: capitalize;
        }
    }

    &__title-link {
        color: var(--secondary-color);
        text-decoration: none;
        display: block;
        margin: auto 0;
    }

    &__content {
        margin-top: 1rem;
        &-single {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
        }
        min-width: 0;
    }



    &__link:visited,
    &__link:link {
        margin: auto 0;
        display: inline-block;
        text-align: center;
    }

    &__photoRight {
        display: block;
        max-width: 90%;
        max-height: 200px;
        margin: 10px auto;
    }

    &__photoText {
        color: var(--black-color);
        font-weight: bold;
        text-align: center;
        width: 100%;
        line-height: 140%;
    }

    &__link-single {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text-single {
        text-align: center;
        color: var(--secondary-color);
        font-weight: bold;
    }

    &__photo {
        max-width: calc(100% - 2rem);
        max-height: 13rem;
    
        &-left {
            max-width: calc(100% - 2rem);
            max-height: 19rem;
        }

        &-right {
            display: block;
            max-width: 90%;
            max-height: 20rem;
            margin: 1rem auto;
        }
    }

    &__text-right {
        display: block;
        text-align: center;
        line-height: 140%;
        color: #352b6a;
        font-weight: bold;
    }
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

