.aside-right {
    grid-column: sidebar-right-start / sidebar-right-end;
    grid-row: 2 / -2;
    margin-top: 1rem;
    
    &-tournament {
        display: flex;
        flex-direction: column;

        &__next {
            min-height: 32rem;
            margin-bottom: 3rem;
        }

        &__title {
            font-weight: bold;
            margin-bottom: .8rem;
            padding: 1rem;
            text-align: center;

            & h2 {
                font-size: 1.8rem;
                margin: 0;
                color: var(--primary-color-dark);
                text-shadow: 1px 1px 1px var(--text-shadow-color);
                text-decoration: none;
            }
        }

        &__content {
            overflow-y: auto;
            max-height: 25rem;

            &-link {
                text-decoration: none;
                color: var(--color-black);
            }

            &-heading {
                font-size: 1.5rem;
                color: var(--quaternary-color-old);
                font-weight: bold;
                display: inline-block;
                text-decoration: none;
                margin-bottom: 0.2rem;
            }

            &-text {
                display: inline-block;
                text-decoration: none;
                color: var(--color-black);
            }

            &-single {
                margin-bottom: .8rem;
            }
        }
    }
}