.aside-left {

    &-bar {
        grid-column: sidebar-left-start / sidebar-left-end;

        &__list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }
    
        &__item {
            display: block;

            &-dropdown {
                position: relative;
            }
        }
    
        &__link:link,
        &__link:visited,
        &__dropdown-btn {
            color: $leftNavigation-btn-color;
            display: block;
            font-size: 1.6rem;
            font-style: italic;
            text-decoration: none;
            cursor: pointer;

            background: var(--primary-color-dark);
            background: linear-gradient(var(--primary-color), var(--primary-color-dark) 60%);
            border-radius: .5rem;
            padding: .2rem;
            margin-top: .5rem;
            text-align: center;
            box-shadow: .4rem .4rem 2px rgba(0, 0, 0, 0.2); 
        }
    
        &__container {
            padding: 1rem 1rem 3rem 1rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            background: linear-gradient(var(--grey-color-dark), var(--grey-color));
            border-radius: 2.5rem;
    
            &-title {
                font-size: 1.7rem; 
                font-style: italic;
                color: var(--white-color);
                text-align: center;
                margin-bottom: .5rem;
            }
        }

        &__dropdown {
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: all .2s;
            backface-visibility: hidden;
            overflow: hidden;

            &-item {
                padding-left: 2rem;
            }

            &-show {
                visibility: visible;
                opacity: 1;
                height: 10.5rem;
                padding: .2rem;
            }
        }
    }

    // &-player {
    //     grid-column: sidebar-left-start / sidebar-left-end;

    //     &__audio {
    //         width: 100%;
    //     }
    // }

    &-calendar {
        grid-column: sidebar-left-start / sidebar-left-end;
        background: var(--secondary-color-light);
        border-radius: .5rem;
        padding-bottom: .5rem;
        box-shadow: .4rem .4rem .2rem var(--content-border-color); 
    
        &__title {
            background: var(--secondary-color);
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            color: var(--secondary-color-light);
            font-weight: bold;
            padding: 1rem;
            font-size: 1.8rem;
            text-align: center;
        }
    }
    
    &-counter {
        grid-column: sidebar-left-start / sidebar-left-end;
        font-family: 'Muli', sans-serif;
        font-style: italic;
        font-weight: bold;
        color: var(--white-color);

        border-radius: .5rem;
        background-color: var(--counter-bg-color);
        box-shadow: .4rem .4rem .2rem var(--counter-rectangle-bg-color); 

        &__title {
            font-size: 2.2rem;
            text-align: center;
            padding: 1rem 0 0 0;
        }

        &__heading {
            font-size: 2.2rem;
            letter-spacing: 1px;
            margin-bottom: 1rem;

            text-shadow: 0.4rem 0 0.2rem var(--grey-color-darkest);
        }

        &__wrapper {
            width: 100%;
            padding: 0 1rem 1rem 1rem;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }

        &__content {
            background-color: var(--grey-color-dark);
            padding: 0.4rem 0;
            
            &-title {
                text-align: center;
                
                font-size: 1.5rem;
                line-height: 2.5rem;

                &--arrow {
                    font-style: normal;
                    font-weight: bolder;
                }
            }

            &-text {
                text-align: center;
                font-size: 1.8rem;
            }
        }
    }

    &-fb {
        grid-column: sidebar-left-start / sidebar-left-end;

        &__img {
            width: 100%;
        }
    }

    &-media_link {
        grid-column: sidebar-left-start / sidebar-left-end;
        display: grid;
        grid-template-columns: repeat(3, 7rem);
        grid-auto-rows: 7rem;
        gap: 2rem;

        &-single {
            &__img {
                width: 100%;
            }
        }
    }
}

#calendar {
    background-color: var(--white-color);
    font-size: 10px;
    margin: 1rem;
    border-radius: .5rem;
    padding: .5rem;
}

.fc-toolbar {
    border: 1px solid #e3e3e3;
    border-radius: .5rem;
    background: #f5f5f5;
    padding: .5rem;
}

.fc-event {
    cursor: pointer;
}