.event {
    display:grid;
    grid-template-rows: 1fr 10rem;
    align-items: start;
    padding: 3rem;

    &__league {
        justify-content: center;
    }
    
    &__occasion,
    &__podiums {
        justify-content: center;
    }

    &__rank-display {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__table {
        display: grid;
        grid-template-columns: minmax(20rem, 3fr) minmax(12rem, 2fr) repeat(5, 1fr);

        &-future > div:nth-of-type(-n+2) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-tournament > div:nth-of-type(-n+7) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-occasion > div:nth-of-type(-n+3) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-league > div:nth-of-type(-n+4) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-ranking > div:nth-of-type(-n+2) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-podiums > div:nth-of-type(-n+2) {
            border-top: 2px solid var(--grey-color-light);
        }

        &-future {
            width: 55rem;
            grid-template-columns: 3fr 2fr;
            margin: 0 auto;
        }

        &-league {
            grid-template-columns: minmax(20rem,3fr) repeat(2,minmax(12rem,2fr)) minmax(10rem, 15rem);
        }

        &-occasion {
            width: 55rem;
            grid-template-columns: minmax(20rem, 2fr) repeat(2, minmax(12rem, 1fr));
        }

        &-ranking {
            width: 100%;
            margin: 0 auto;
            padding: 3rem 5rem;
            grid-template-columns: minmax(15rem, 25rem) 1fr;
        }

        &-podiums {
            width: 45rem;
            grid-template-columns: minmax(20rem, 2fr) minmax(10rem, 1fr);
        }
    }

    &__single-information {
        color: #fff;
        background-color: var(--table-title-color);
        border-right: 2px solid var(--grey-color-light);
        border-bottom: 2px solid var(--grey-color-light);
        border-left: 2px solid var(--grey-color-light);
        padding: 1rem;

        display: grid;
        align-content: center;
        justify-content: center;

        transition: all .2s;

        &:hover {
            filter: brightness(120%);
        }
    }

    &__ranking {
        &-container {
            margin: 0;
            padding: 0;
        }

        &-table {
            margin: 0;
            border-collapse: collapse;
            border-style: hidden;
            background-color: var(--table-odd-color);
            width: 100%;
            height: 100%;
            border-right: 2px solid var(--grey-color-light);
            border-bottom: 2px solid var(--grey-color-light);

            & td:first-child, & th:first-child {
                border-right: 2px solid var(--grey-color-light);
            }

            & tbody tr:nth-child(2) td {
                padding-top: 0.8rem;
            }

            & tbody tr:last-child td {
                padding-bottom: 1.2rem;
            }

            &-title {
                background-color: var(--table-team-color);
                margin-bottom: 0.8rem;
                padding: 0.4rem;
                text-align: center;
                color: var(--white-color);
                font-size: 1.4rem;

                &-left {
                    width: 20rem;
                }

                &-right {
                    width: 100%;
                }
            }

            &-content {
                padding-left: 1rem;
                vertical-align: top;
            }
            
            &-solo {
                text-align: center;
            }
        }
    }

    &__single-link {
        text-decoration: none;
        color: currentColor;
    }

    &__single-paragraphe {
        color: currentColor;
        margin-bottom: .5rem;
        text-align: center;
    }

    &__single-members {
        background-color: var(--table-odd-color);
        border-right: 2px solid var(--grey-color-light);
        border-bottom: 2px solid var(--grey-color-light);
        padding-bottom: 1rem;

        &-ranking {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    &__members-league {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__league-name {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__noteam {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &-rank {
            margin-top: 0.6rem;
        }

        &-paragraph {
            text-align: center;
        }
    }

    &__ranking-paragraph {
        display: inline;
    }

    &__team {
        &-title {
            background-color: var(--table-team-color);
            margin-bottom: 0.8rem;
            padding: 0.4rem;
        }

        &-ranking-title {
            margin-bottom: 0.8rem;
            padding: 0.4rem;
        }

        &-text {
            color: var(--white-color);
            font-size: 1.4rem;
            text-align: center;
        }

        &-content {
            margin-top: 0.6rem;
            margin-bottom: 1.2rem;
            padding-left: 1rem;

            &-js {
                margin-bottom: 1.2rem;
                padding-left: 1rem;

                &-solo {
                    margin-top: 0.6rem;
                }
            }
        }

        &-paragraph {
            margin-bottom: .2rem;
            text-align: center;
        }

    }

    &__single-image {
        border-right: 2px solid var(--grey-color-light);
        border-bottom: 2px solid var(--grey-color-light);

        background-color: #ffffff;
        filter: brightness(98%);
        transition: all .2s;

        &:hover  {
            filter: brightness(110%);
        }
    }

    &__single-image--disable {
        border-right: 2px solid var(--grey-color-light);
        border-bottom: 2px solid var(--grey-color-light);
    }

    &__top-border:nth-of-type(-n+5) {
        border-top: 2px solid var(--grey-color-light);
    }

    &__single-link {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    &__cell--disable { 
        display: grid;
        align-items: center;
        justify-items: center;

        background-color: var(--white-color);

        width: 100%;
        height: 100%;
        filter: brightness(80%) grayscale(100%); 
    }

    &__bottom {
        align-self: end;
        justify-self: center;
    }
    
    &__noteam-line,
    &__team-line { text-align: center;}

    &__tooltip {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &-event {
            visibility: hidden;
            padding: 1.5rem;
            border-radius: 0.6rem;
            top: -115px;
            left: 115%;

            /* Position the tooltip text  */
            position: absolute;
            z-index: 2;
            width: 48rem;
            height: 24rem;

            display: grid;
            grid-template-columns: minmax(min-content, 16rem) 1fr;

            &-licensee {
                background: var(--licensee-color-light);
                background: linear-gradient(var(--licensee-color-light), var(--licensee-color));
                border: 1px solid var(--licensee-color-dark);
                color: var(--licensee-color-dark);
            }

            &-adherent {
                background: var(--adherent-color-light);
                background: linear-gradient(var(--adherent-color-light), var(--adherent-color));
                border: 1px solid var(--adherent-color-dark);
                color: var(--adherent-color-dark);
            }

            &-ranking {
                left: 115%;
            }
        }

        &:hover &-event {
            visibility: visible;
        }

        &:hover::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -15%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent var(--grey-color) transparent transparent;
            z-index: 2;
        }

        &-licensee:hover::after  {
            border-color: transparent var(--licensee-color-dark) transparent transparent;
        }

        &-adherent:hover::after  {
            border-color: transparent var(--adherent-color-dark) transparent transparent;
        }

        &-ranking {
            display: inline-block;
        }

        &-ranking:hover::after {
            right: -15%;
        }

        &-img  {
            margin-right: 1rem;
            height: 100%;
            max-width: 18rem;
        }

        &__tooltiptext {
            color: currentColor;
        }
    }
    
}

.otherClub {
    color: #953735;
}
