.welcome-carousel {
    margin: 0 5rem;
    min-width: 0;

    &__img {
        max-height: 100%;
        max-width: 95%;
        width: 95%;
        margin: 0 auto;

        & img {
            display: block;
            width: 100%;
        }
    }
}