.welcome-carousel {
    min-width: 0;

    &__img {
        max-height: 100%;
        max-width: 100%;

        & img {
            display: block;
            margin: auto;
            width: 95%;
        }
    }
}